KEYCLOAK_ADMIN_PASSWORD=changeme
KEYCLOAK_CLIENT_SECRET=changeme
KEYCLOAK_INTERNAL_URL=http://keycloak:8080/
KEYCLOAK_EXTERNAL_URL=http://localhost:8080/
APP_BASE_URL=http://localhost:8000
KEYCLOAK_CLIENT_ID=intranet-app
KEYCLOAK_REALM=intranet-app
